<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button appDropdown class="btn btn-primary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Manage recipe
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="onAddToShopList()" style="cursor: pointer;">Add ingredients to Shopping List</a>
                <a class="dropdown-item" style="cursor: pointer;">Edit Recipe</a>
                <a class="dropdown-item" style="cursor: pointer;">Delete Recipe</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
        </ul>
    </div>
</div>