<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control">
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-primary">Sign Up</button> | <button type="button" class="btn btn-primary">Switch to Login</button>
            </div>
        </form>
    </div>
</div>