<div class="row">
    <div class="col-xs-12">
        <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
        <ng-template appPlaceholder></ng-template> <!-- Using Dynamic Components -->
        <div class="spinner-border text-info" role="status" *ngIf="isLoading">
            <span class="visually-hidden">Loading...</span>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required
                    minlength="6">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">{{isLoginMode ? 'Login' :
                    'Sign'}}</button>
                |
                <button type="button" class="btn btn-info" (click)="onSwitchMode()">Switch to {{isLoginMode ? 'Sign Up'
                    : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>