<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="list-group">
        <a href="#" class="list-group-item" *ngFor="let server of servers">
          {{ server.name }}
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <button class="btn btn-info m-2" (click)="onReload()">Reload Page</button>
      <app-edit-server-routing></app-edit-server-routing>
      <hr class="m-2">
      <app-server-routing></app-server-routing>
    </div>
  </div>
</div>