<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" required [(ngModel)]="postForm.value.title"
                        name="title" />
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea class="form-control" id="content" required [(ngModel)]="postForm.value.content"
                        name="content"></textarea>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid">
                    Send Post
                </button>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <button class="btn btn-primary" (click)="onFetchPosts()">
                Fetch Posts
            </button>
            |
            <button class="btn btn-danger" [disabled]="loadedPosts.length < 1" (click)="onClearPosts()">
                Clear Posts
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2">
            <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
            <ul class="list-group" *ngIf="loadedPosts.length >= 1">
                <li class="list-group-item" *ngFor="let post of loadedPosts">
                    <h1>{{post. title}}</h1>
                    <p>{{post.content}}</p>
                </li>
            </ul>
            <p *ngIf="isFetching && error == ''">Loading...</p>
            <div class="alert alert-danger" *ngIf="error">
                <h1>An error occured</h1>
                <p>{{error}}</p>
                <button class="btn btn-danger" (click)="onHandleError()">Ok</button>
            </div>
        </div>
    </div>
</div>