<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Dive Into Angular</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavigation()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="isNavigationOpen" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home" [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/basics">Basics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/diveintocomponents">Components and Binding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/gameBinding">Game Binding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/directives">Directives</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/services">Services</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Routing
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/homerouting">Home</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/serversrouting">Servers</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/usersrouting">Users</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Observables
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/homeobs">Home</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/userobs/1">Users 1</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/userobs/2">Users 2</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>