<div class="row">
    <div class="col-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success m-2" [disabled]="!recipeForm.valid">Save</button>
                    <button type="button" class="btn btn-danger m-2" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="number" id="id" class="form-control" formControlName="id">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img [src]="imagePath.value" class="img-responsive" style="height: 300px;">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" rows="6" class="form-control"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Ingredients</p>
                <div class="col-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingredient of controls; let i = index" [formGroupName]="i">
                        <div class="col-6 m-1">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-2 m-1">
                            <input type="number" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-2 m-1">
                            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-success m-1" (click)="AddIngredient()">Add
                            Ingredient</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>